@Styles.Render("~/Content/Styles/profile-home.min.css")
@Styles.Render("~/Content/Styles/imageHover.css")
@Styles.Render("~/Scripts/fabricJsComponents/styles/master.css")
@Styles.Render("~/Scripts/fabricJsComponents/styles/prism.css")
@Styles.Render("~/Scripts/fabricJsComponents/kitchensink/kitchensink.css")
@Styles.Render("~/Scripts/image-picker/image-picker.css")

@{
    ViewBag.Title = "Home";
}


@*
    - get rid of break tags
    - fix tab link colors
*@


<div class="profile-home" ng-controller="profileController as pc">

    <section class="parallax-top">
        <div class="parallax-bg"></div>
        <div class="md-box">
            <img src="/Content/Images/profile/coco-lb_comic.png" class="right-coco" ng-hide="pc.chanelVisibility">
            <img src="/Content/Images/closet/audrey-rb_comic.png" class="left-audrey" ng-hide="pc.audreyVisibility">
        </div>
    </section>

    <div class="content-container-level-1">
        <div class="content-container-level-2">
            <ul class="nav nav-tabs">
                <li ng-class="pc.tabClass(tab)" ng-repeat="tab in pc.tabs">
                    <a href="{{tab.link}}" ng-click="pc.setSelectedTab(tab)"><b>{{tab.label}}</b></a>
                </li>
            </ul>

            <div class="dynamic-content-container" ng-view></div>
        </div>
    </div>


</div>

<script type="text/ng-template" id="profileModalContent.html">

    <div class="modal-body error-modal-image">
        <button type="button" class="close" ng-click="pmc.cancel()" style="margin-bottom:-45px"><span aria-hidden="true"><img src="/Content/Images/buttons/close-button-xonly.png" width="40" /></span></button>

        <img ng-src="/Content/Images/error/{{pmc.modalMsg}}" class="img-responsive" />
    </div>

</script>

<script type="text/ng-template" id="cropModalContent.html">

    <div class="modal-header image-modal-header">
        <button type="button" class="close" ng-click="pmc.cancel()" style="margin-bottom:-45px">
            <span aria-hidden="true"><img src="/Content/Images/buttons/close-button-xonly.png" width="40" /></span>
        </button>
    </div>

    <div class="modal-body image-modal-body" style="padding-top:0;">

        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="upload-btn">
                    <span>Choose File</span>
                    <input id="tempFile" type="file" class="upload-input" onchange="angular.element(this).scope().pmc.readFile(this)" />
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <div>
                    <button id="reset" ng-click="pmc.resetCanvas()">Reset Crop</button>
                </div>
            </div>

            @*<div class="col-sm-4 text-center">
                <div>
                    <button ng-click="pmc.saveCroppedImage()">Save</button>
                </div>
            </div>*@

        </div>

        <br /><br />

        <div class="row">
            <div class="col-sm-12 text-center">
                <canvas id="cropCanvas"></canvas>
                <img src="" id="cropResult" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <div>
                    <button ng-click="pmc.saveCroppedImage()">Save</button>
                </div>
            </div>
        </div>

        @*<br /><br />

        <div class="row">

            <div class="col-sm-6">
                <div class="pull-left">
                    <button id="reset" ng-click="pmc.resetCanvas()">Reset Crop</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <button ng-click="pmc.saveCroppedImage()">Save</button>
                </div>
            </div>

        </div>*@

    </div>

</script>

@section scripts{
    <script src="~/Scripts/fabricJsComponents/prism.js"></script>
    <script src="~/Scripts/fabricJsComponents/fabric.js"></script>
    <script src="~/Scripts/fabricJsComponents/master.js"></script>
    <script src="~/Scripts/fabricJsComponents/paster.js"></script>
    <script src="~/Scripts/fabricJsComponents/kitchensink/utils.js"></script>
    <script src="~/Scripts/fabricJsComponents/kitchensink/app_config.js"></script>


    <script src="~/Scripts/services/backslash.crop.services.js"></script>
    <script src="~/Scripts/services/backslash.fileReader.services.js"></script>
    <script src="~/Scripts/services/backslash.closet.services.js"></script>
    <script src="~/Scripts/backslash/profile/services.profile.js"></script>

    <script src="~/Scripts/services/backslash.outfitBuilder.services.js"></script>

    <script src="~/Scripts/backslash/profile/routeProvider.profile.js"></script>
    <script src="~/Scripts/backslash/profile/profileController.js"></script>
    <script src="~/Scripts/backslash/closet/closetController.js"></script>
    <script src="~/Scripts/backslash/outfits/outfitsController.js"></script>
    <script src="~/Scripts/backslash/profile/modalController.js"></script>
    <script src="~/Scripts/backslash/outfits/modalController.js"></script>


    <script src="~/Scripts/fabricJsComponents/kitchensink/kitchensink.js"></script>
    <script src="~/Scripts/image-picker/image-picker.js"></script>
}